*{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
}

body{
    background-color: #46494c;
    color: #46494c;
}

a{
    color: #1985a1;
    font-weight: bold;
}

div{
    margin-top: 150px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #dcdcdd;
    padding: 30px;
    border-radius: 10px;
}

button{
    background-color: #4c5c68;
    border-radius: 5px;
    margin-top: 30px;
    border-width: 0ch;
    width: 500px;
    color: #dcdcdd;
}

p{
    margin-top: 30px;
}